@font-face {
    font-family: SF-UI-Display;
    src: url("fonts/SF-UI-Display-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: SF-UI-Text;
    src: url("fonts/SF-UI-Display-Thin.otf") format("opentype");
}

:root {
    --color-btn: red;
    --color-btn-text: red;
}

body {
    background-color: #343434;
}

img {
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 260px;
    width: 260px;
}

a {
    text-decoration: none;
}

a:link {
    color: #a7f8ec;
}

a:visited {
    color: #7dbab1;
}

a:hover {
    color: #bde0f8;
}

h1 {
    font-family: "SF-UI-Display", sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 100;
}

.container {
    font-family: "SF-UI-Text", sans-serif;
    font-weight: 200;
    color: white;
    position: relative;
    width: 680px;
    margin: 0 auto;
    padding: 30px 0 80px;
    font-size: 20px;
}

.btn {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 20px;
    background-color: transparent;
    text-shadow: none;
    font-weight: 200;
    font-size: 20px;
    font-family: "SF-UI-Text", sans-serif;
    transition: all 0.3s ease;

    border: 1px solid var(--color-btn);
    color: var(--color-btn-text);
}

.btn.email {
    border: 1px solid var(--color-btn);
    color: var(--color-btn-text);
}

.btn.email:hover {
    color: white;
    background-color: red;
}

.btn.linkedin {
    border: 1px solid #4da4c3;
    color: #4da4c3;
}

.btn.linkedin:hover {
    color: white;
    background-color: #4da4c3;
}

.btn.github {
    border: 1px solid #8b59a2;
    color: #8b59a2;
}

.btn.github:hover {
    color: white;
    background-color: #8b59a2;
}
